* {
    font-family: 'Kurale', serif;
}

body {
    min-height: 100vh;
    background-color: #4b3621;
    color: white;
    padding: 0.5rem;
}

header {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

main {
    margin: 0 auto;
}

.nav-pills {
    margin: 2.5rem 0;
}

.nav-link {
    color: white;
    font-weight: 600;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: black;
    background-color: gold;
}