{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form_row %}
{% block title %}Add a New Cafe{% endblock title %} 
{% block content %}
    <div class="container">
        <h1>Add a new cafe</h1>
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
            <ul class="error-list list-group">
            {% for error in errors %}
                <li class="list-group-item list-group-item-danger">
                    <strong>Error: {{ error }}</strong>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <form action="{{ url_for('ui.add_cafe') }}" method="post" novalidate>
            {% if 'csrf_token' in form %}
                {{ form.csrf_token }}
            {% endif %}
            {{ render_form_row([form.cafe_name, form.cafe_location]) }}
            {{ 
                render_form_row(
                    [
                        form.opening_time, form.closing_time, form.coffee_rating, 
                        form.wifi_rating, form.power_rating
                    ], 
                    col_map={
                        'opening_time': 'col-lg-3', 
                        'closing_time': 'col-lg-3',
                        'coffee_rating': 'col-lg-2',
                        'wifi_rating': 'col-lg-2',
                        'power_rating': 'col-lg-2'
                    },
                ) 
            }}
            {{ render_form_row([form.submit]) }} 
        </form>
        <p class="space-above"><a href="{{ url_for('ui.cafes') }}">See all cafes</a></p>    
    </div>
{% endblock content %}
