{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form_row %}
{% block title %}New Cafe - Coffee and Wi-fi{% endblock title %}
{% block content %}
<main>
    <div class="breakpoint-lg mx-auto">
        {% include 'components/notifications.html' %}
        <form action="{{ url_for('ui.add_cafe') }}" method="post" novalidate>
            {% if 'csrf_token' in form %}
                {{ form.csrf_token }}
            {% endif %}
            {{ 
                render_form_row([form.cafe_name]) 
            }}
            {{ 
                render_form_row([form.cafe_location]) 
            }}
            {{ 
                render_form_row(
                    [form.opening_time, form.closing_time], 
                    col_map={
                        'opening_time': 'col-md-6', 
                        'closing_time': 'col-md-6'
                    }
                ) 
            }}
            {{ 
                render_form_row(
                    [form.coffee_rating, form.wifi_rating, form.power_rating],
                    col_map={
                        'coffee_rating': 'col-xl-4',
                        'wifi_rating': 'col-xl-4',
                        'power_rating': 'col-xl-4'
                    }
                ) 
            }}
            {{ render_form_row([form.submit], button_style='custom') }} 
        </form>
    </div>
    {{ render_static('js', 'js/script.js') }}
</main>
{% endblock content %}
