{% from 'bootstrap5/utils.html' import render_static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock title %}</title>
        <link 
            rel="shortcut icon" 
            href="{{ url_for('static', filename='images/favicons/favicon.ico') }}" 
            type="image/x-icon"
        >
        <link 
            rel="apple-touch-icon" 
            sizes="180x180" 
            href="{{ url_for('static', filename='images/favicons/apple-touch-icon.png') }}"
        >
        <link 
            rel="icon" 
            type="image/png" 
            sizes="32x32" 
            href="{{ url_for('static', filename='images/favicons/favicon-32x32.png') }}"
        >
        <link 
            rel="icon" 
            type="image/png" 
            sizes="16x16" 
            href="{{ url_for('static', filename='images/favicons/favicon-16x16.png') }}"
        >
        <link 
            rel="manifest" 
            href="{{ url_for('static', filename='site.webmanifest') }}"
        >
        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            {{ render_static('css', 'css/custom.css') }}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Kurale&display=swap" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% include 'components/header.html' %}
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>
