{% extends 'base.html' %} 
{% block title %}Cafes - Coffee and Wi-fi{% endblock title %}
{% block content %}
<main>
    <div class="d-flex flex-wrap justify-content-center">
        {% for cafe in cafes %}
        <div class="card text-bg-dark text-center">
            <div class="card-header text-bg-light">
                <h2 class="mb-0">{{ cafe['name'] }}</h2>
            </div>
            <div class="card-body">
                <p class="card-text">🕒 {{ cafe['opening_time'] }} - {{ cafe['closing_time'] }}</p>
            </div>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item my-auto">Coffee Rating</li>
                <li class="list-group-item my-auto">{{ (cafe['coffee_rating'] * '☕️') or '❌'}}</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item my-auto">Wi-fi Rating</li>
                <li class="list-group-item my-auto">{{ (cafe['wifi_rating'] * '💪') or '❌'}}</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">Power Rating</li>
                <li class="list-group-item">{{ (cafe['power_rating'] * '🔌') or '❌'}}</li>
            </ul>        
            <div class="card-body">
                <a class="card-link" href="{{ cafe['location'] }}">See location</a>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}
