{% extends 'base.html' %} 
{% block title %}Coffee Shops{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>All Cafes</h1>

                <table class="table">
                    <tr>
                        <th>Cafe Name</th>
                        <th>Cafe Location</th>
                        <th>Opening Time</th>
                        <th>Closing Time</th>
                        <th>Coffee Rating</th>
                        <th>Wi-fi Rating</th>
                        <th>Power Rating</th>
                    </tr>
                    {% for cafe in cafes %}
                        <tr>
                            <td>{{ cafe['name'] }}</td>
                            <td><a href="{{ cafe['location'] }}">Click Here</a></td>
                            <td>{{ cafe['opening_time'] }}</td>
                            <td>{{ cafe['closing_time'] }}</td>
                            <td>{{ (cafe['coffee_rating'] * '☕️') or '❌'}}</td>
                            <td>{{ (cafe['wifi_rating'] * '💪') or '❌'}}</td>
                            <td>{{ (cafe['power_rating'] * '🔌') or '❌'}}</td>
                        </tr>
                    {% endfor %}
                </table>
                <p><a href="{{ url_for('ui.index') }}">Return to home page</a></p>
            </div>
        </div>
    </div>
{% endblock content %}
