{% extends 'base.html' %} 
{% block title %}Coffee and Wi-fi{% endblock title %} 
{% block content %}
<main>
    <div class="breakpoint-lg mx-auto text-center">
        <h1 class="display-4 mb-4">☕️ Coffee & Wi-fi 💻</h1>
        <p class="lead">Want to work in a cafe but need power and wi-fi?</p>
        <hr class="my-4" />
        <p>
            You've found the right place! Checkout my collection of cafes with
            data on power socket availability, wifi speed and coffee quality.
        </p>
    </div>
</main>
{% endblock content %}
